[2022-01-15 14:48] Jarmos-san opened #20 "Develop a basic official developersIndia landing to start with"
The [developersIndia](https://www.reddit.com/r/developersIndia "developersIndia | Reddit") community requires an official website. Members of the community did work on it on & off for a while but none of the contributions led to any productive goals yet. As such we had a long discussion & decided to take baby steps.

### The Plan Ahead

The immediate plan right now is to develop a **VERY** basic l

[2022-01-15 15:07] Jarmos-san opened #21 "Refactor & clean up code base to restart the project"
@sidharthgehlot had started the project a while ago but got occupied with work midway, since then we've decided to restart the project right now.

For starters, the code base requires a thorough cleaning & refactoring before work on developing the minimal landing page (_refer to #20_) can start. There's already an open PR #13 which hasn't been updated in a while so that needs to be taken care of b

[2022-01-15 15:24] Jarmos-san opened #22 "Add basic config files like .editorconfig for better collaboration efforts"
Collaboration on any software development projects requires everyone collaborating on the project to have somewhat of the same development experience as one another. As such, it's necessary to have configuration files like `.editorconfig`, `.gitattributes` files & such to be added to the repository.

That said, following are the list of such files/folders which needs to updated and/or added:

- [x

[2022-01-18 18:22] afkcodes commented on #21
lets close this.

[2022-01-18 18:24] Jarmos-san commented on #21
There's still some more work to be done which I'll take care of later on. Once that's complete, I'll close this issue thread.

[2022-01-18 18:26] afkcodes commented on #21
yeah, we should close this thread i was trying to find the close button couldn't find it.

[2022-01-20 18:39] Jarmos-san opened #25 "Add Dependabot configurations to keep project dependencies updated"
As the project grows & more dependencies are added to the project, Dependabot will help in keeping a track of them. This issue will track the progress made on adding and/or updating a minimal Dependabot configuration until the developersIndia website is up & running.

For reference on how to configure Dependabot, check out the official docs at: "[Keeping your dependencies updated automatically](ht

[2022-01-20 18:39] Jarmos-san opened #26 "Add a basic `tsconfig.json` for full TypeScript support in the project."
TypeScript not only provides "type safety" for JavaScript code but in general helps maintaining standard development practices in a project. As such, right now is the best opportunity to add TypeScript support for the project since it can be quite difficult to get started up again later on when the project is moving ahead already.

For more reference on setting up a proper [`tsconfig.json`](https:

[2022-01-20 18:40] Jarmos-san opened #27 "Add ESLint & Prettier support to keep a check on development standard practices."
The general public has general opinion on the best development practices all the time. Some prefers using double quotes over single quotes, while others prefer semi-colons after a line & others don't. Debates on such meaningless topics are unproductive, as such having a proper [ESLint](https://eslint.org) & [Prettier](https://prettier.io) configuration in place should keep a check on a standard de

[2022-01-20 19:01] Jarmos-san opened #28 "Update README to showcase the project description better."
The README at its current state doesn't server it's purpose well enough, it needs a major face lift.

It should **AT THE LEAST** show;

- Instructions on setting up the dev environment for developing the [developersIndia website](https://www.developersindia.in).
- Licensing & copyright notices.
- What the project is about, what does it stand for & what is it supposed to achieve.

[2022-01-21 18:26] afkcodes commented on #27
i will take this up.

[2022-01-21 19:08] Jarmos-san commented on #27
@afkcodes thanks for taking the initiative! ❤️  Feel free to open a PR referencing this issue.

P.S: Please keep in mind we'll be implementing pre-commit hooks with [Husky](https://typicode.github.io/husky/#/) & [lint-staged](https://github.com/okonet/lint-staged) as well at some point in time. And you should refer to the [Next.js docs for configuring ESLint](https://nextjs.org/docs/basic-features

[2022-01-22 05:00] siddhantk232 commented on #26
can I work on this?

[2022-01-22 05:06] siddhantk232 opened #29 "Add/update a CONTRIBUTING.md for contributing guidelines"
### Feature details?

A guide on how to contribute to this project would be helpful.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-22 09:25] Jarmos-san commented on #29
@siddhantk232 thanks for taking the initiative! ❤️

For starters, use [this contributing guidelines](https://github.com/developersIndia/.github/blob/main/CONTRIBUTING.md) as a source of inspiration to write one which is specific to this project. Also include steps to setup a local dev environment & other important details any contributor would need to know.

[2022-01-22 09:26] Jarmos-san commented on #26
@siddhantk232 yeahs sure, go ahead & reference a PR to this issue!

[2022-01-22 12:31] 1Gokul commented on #25
Hey, can I work on this?

I'll just need a couple more details to add to the `dependabot.yml` file.

- Is a label required for Dependabot's PRs and if yes, what should it be? _(Something like `type:dependencies` etc.)_?
- Do we have to add assignees and/or reviewers ?

[2022-01-22 12:37] Jarmos-san commented on #25
Hey @1Gokul thanks for taking the initiative! I've assigned the issue thread to you, so please feel free to go ahead & reference a PR to this thread.

As for your questions;
1. Yes, the `dependencies` label should be good enough for now. We can review it later on if a need arises.
2. Yes, please add @Jarmos-san @varshney-himanshu @Bhupesh-V as reviewers.

[2022-01-22 13:26] 1Gokul commented on #25
Thanks!
Please add the new `dependencies` label for the bot.

[2022-01-22 14:25] #25 closed

[2022-01-22 15:05] #29 closed

[2022-01-22 16:31] #26 closed

[2022-01-22 17:05] Jarmos-san opened #39 "Project is missing an open-source license"
### What happened?

The project is missing an open-source license without which it can't be considered an open-source & community-maintained project in it's strictest sense. Hence, a license (preferably MIT to keep things simple) should be added to the project.

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-23 10:19] #28 closed

[2022-01-23 10:19] #39 closed

[2022-01-24 02:55] afkcodes commented on #27
Yeah, thanks will make a PR today or by tomorrow. Don't know i didn't get the above notification.

[2022-01-25 17:36] Jarmos-san opened #40 "Add pre-commit hooks for better code quality control"
### Feature details?

[Git hooks](https://git-scm.com/docs/githooks) using frameworks like [husky](https://typicode.github.io/husky/#/) + [lint-staged](https://github.com/okonet/lint-staged) or [pre-commit](https://pre-commit.com/) will ensure bad coding standards & practices aren't introduced to the source code. They'll cleaned & taken care of right at the source.

Further quality control can be

[2022-01-25 17:39] Jarmos-san opened #41 "Implement a basic CI/CD pipeline to ensure code quality assurance."
Having a CI/CD pipeline in place will ensure all PRs & code pushed to the remote repository abides by standard coding practices. At some point in time the pipeline can also be extended to run an automated test suite and/or build-deploy the website after a series of checks. The checks might or mightn't contain:

- Linting checks using ESLint
- Formatting the source code by Prettier
- Running the te

[2022-01-30 16:22] Jarmos-san opened #43 "Update the contributing guidelines with more comprehensive details"
### Feature details?

#31 introduced a very minimal "_contributing guidelines_" template thanks to @siddhantk232. But the project requires a more thorough [CONTRIBUTING.md](https://github.com/developersIndia/website/blob/master/CONTRIBUTING.md) which we can share with new contributors with confidence.

Having a detailed documented guidelines means we needn't:

1. Ask contributors to follow certain

[2022-02-03 09:45] #43 closed

[2022-02-03 09:50] Jarmos-san commented on #27
@afkcodes are you still interested in pursuing this issue? If so, please let us know by referencing this issue in a PR.

[2022-02-03 17:10] Bhupesh-V commented on #26
@all-contributors please add @siddhantk232 for code

[2022-02-03 20:08] Jarmos-san opened #51 "[BUG]: Giving credits to the non-source code contributors"
### What happened?

[All Contributors](https://allcontributors.org/) might've missed out the following people:

| Credited? |                   GitHub Profiles                                          |          Their Contributions                  |
|:-------------:|-----------------------------------------------------------------------|-------------------------------------------------|
| :heavy_

[2022-02-03 20:31] NiketanG commented on #27
Is this being worked on ?
If not, would love to work.
Thanks

[2022-02-03 21:01] Jarmos-san commented on #27
@NiketanG PRs are welcome! If you do take it, then please reference this issue to close it automatically.

[2022-02-04 03:55] tarunkishore2303 commented on #40
I have added the things you've mentioned. Can I push it ?

[2022-02-04 09:50] sangeet commented on #20
Hi, I am happy to start converting Figma design to UI if nobody has taken it up yet.

[2022-02-04 10:06] Jarmos-san commented on #20
@sangeet thanks for taking the initiative! :heart:

Please feel free to go through the issue threads & reference PRs to them accordingly. Also don't forget to read the "[contribution guidelines](https://github.com/developersIndia/website/blob/master/.github/CONTRIBUTING.md)" before making a PR.

As for the template, you can take a look at it over here - https://www.figma.com/file/jxpIq8GzilqzgyLpF

[2022-02-04 10:32] Bhupesh-V commented on #51
@all-contributors please add @OmkarK45 for content, design

[2022-02-04 10:34] Bhupesh-V commented on #51
@all-contributors please add @sushilburagute for content, design

[2022-02-04 10:40] Bhupesh-V commented on #51
@all-contributors please add @SamrendraS for code

[2022-02-04 15:59] Jarmos-san commented on #51
@all-contributors please add @Bhupesh-V for code, infra, doc, tool, ideas, review

[2022-02-04 16:00] Jarmos-san commented on #51
@all-contributors please add @varshney-himanshu for code, infra, doc, tool, ideas, review

[2022-02-04 18:48] afkcodes commented on #27
sorry really caught up with office work. couldn't make a PR, though i have made the changes now.

[2022-02-04 18:49] SamrendraS commented on #20
I was working on the website but it fizzled out after too many people were unavailable. I've gone through the design and I really like it, and would like to start working on the website this weekend. I'm experienced with the tech stack so I'll be comfortable with kicking off.

Is there a Trello board or some ticketing system that I can come up to speed with; I'm going through the raised issues mea

[2022-02-04 19:02] Jarmos-san commented on #20
@SamrendraS thanks for taking the initiative! :heart:

We're not tracking progress through kanban boards yet because the goals are quite small for now. Our immediate goals like right now is to:

1. Setup ESLint & Prettier, see #27
2. Configure `lint-staged` + `husky` pre-commit hooks, see #40 (there's a WIP PR though)
3. Setup a bare minimum CI/CD pipeline which can be extended later on as needed,

[2022-02-05 08:02] SamrendraS commented on #20
Thanks for the reply @Jarmos-san; Discord works for me; ree#4239.
I look forward to helping build the website :)

[2022-02-05 09:38] afkcodes commented on #27
will be updating this by eod. the design looks cool and we can kickoff then.

[2022-02-05 13:35] #41 closed

[2022-02-05 13:42] Jarmos-san commented on #22
All pending TODOs are complete, hence closing this thread. Please reopen the thread with a proper explanation for doing so if necessary in the near future.

[2022-02-05 13:42] #22 closed

[2022-02-05 14:31] vigneshwar221B opened #60 "[FEATURE REQUEST]: Containerising the project"
### Feature details?

I think it's good to containerise the project from the start and let the developers work on top of it. It will also be useful and hassle-free for new contributors. Instead of telling them to install node and related libraries, we can tell them to just install docker. Once they have docker installed, they can run/stop the project with simple one liners like `docker-compose up/

[2022-02-05 19:08] afkcodes commented on #27
I have raised a PR: Add eslint & prettier #62 here but seems like CI is missing peer-deps config. have less idea about it so do have a look.

[2022-02-06 12:26] siddhantk232 commented on #20
I can help implement the landing page if nobody is working on it. For those who are working currently working on it, it would help if they could open a draft PR so that we can easily track what's going on. Thank you!

[2022-02-06 14:18] #40 closed

[2022-02-06 15:05] #27 closed

[2022-02-06 15:06] Jarmos-san commented on #21
All tasks in the TODO list is complete, hence closing this thread for now.

[2022-02-06 15:06] #21 closed

[2022-02-06 15:16] Jarmos-san opened #65 "[BUG]: ESLint in the CI/CD pipeline is broken"
### What happened?

#62 configured & added ESLint & Prettier support to the project but it also broke the CI/CD pipeline for some reason. Need to fix it somehow, see the [failed workflows](https://github.com/developersIndia/website/actions/workflows/main.yml?query=is%3Afailure) for reference.

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Cond

[2022-02-06 15:22] afkcodes commented on #65
This is related to peer dependencies i guess. According to the the issue i was looking at yesterday.

[2022-02-06 15:40] siddhantk232 commented on #65
have a look at #66

[2022-02-06 15:50] Jarmos-san commented on #65
Yup, you were right! Apparently, the `eslint-config-prettier` dependency were missing (lmao)! Thanks to @siddhantk232 who figured it out almost instantly & shared a PR right away as well :heart:.

[2022-02-06 15:52] #65 closed

[2022-02-06 16:24] Jarmos-san opened #67 "[FEATURE REQUEST]: Configure Stale bot for the repository"
### Feature details?

### Description of the Feature

Configure [Stale](https://github.com/apps/stale) bot for the project.

### More Context

The bot should be configured to:

1. Mark any Issue/PR threads which are older than 90 days to be marked with the `stale` label.
2. Comment on the "stale" thread that it has another 30 days to receive some response before it's closed.
3. Configure the bot t

[2022-02-06 16:32] Jarmos-san opened #68 "Develop & share a "proper" public roadmap"
### Feature details?

There's a template to work with, there are ideas & there are interested contributors willing to provide a helping hand to the project. What's missing is a "solid & proper" public roadmap to help the community work towards a common goal.

So, if you've ideas and/or experience on developing a roadmap for web-based applications, please feel free to discuss it here. You can share

[2022-02-06 18:32] NiketanG commented on #20
Would love to help as well. A board for tracking progress would be helpful

[2022-02-06 19:07] Jarmos-san commented on #20
@NiketanG yeah we've plans but we're not sure how should proceed ahead with sharing a project roadmap. If you've ideas, please feel free to share it us on [this discussion thread](https://github.com/developersIndia/website/discussions/69).

[2022-02-07 04:51] afkcodes commented on #20
Will take it up if it's not started.

[2022-02-07 12:46] #67 closed

[2022-02-08 03:06] PushpenderSaini0 opened #73 "[BUG]: `npm run build` fails due to a Type Error"
### What happened?

When trying to build a `production build` with the command `npm run build` on my system
it fails with the error

[ScreenShot]
![image](https://user-images.githubusercontent.com/54404738/152909312-cd7535a3-ba4d-484d-a120-9007233181e8.png)

Possible fix that i found
-  Adding the option ` "experimentalDecorators":true ` in tsconfig.json fixes this issue

After above fix
[ScreenSh

[2022-02-08 13:06] afkcodes commented on #73
the tsconfig file needs to be refactored, I guess.

[2022-02-08 14:38] Jarmos-san commented on #73
Yes, as @afkcodes mentioned, the `tsconfig.json` file requires a slight bit more attention. I'll do that over the weekends (no promises though).

And about adding "experimental support", @PushpenderSaini0 hold up a bit, let me read up on what is this feature all about & I'll definitely assign this issue to you.

For those who're not well aware about "decorators", you can start reading about it fro

[2022-02-08 14:44] Jarmos-san opened #74 "Add `.ignore` files for Prettier & Eslint"
### Feature details?

ESLint & Prettier are well supported in the project & is configured really well. But right now, there's chance the configured linter & formatter might make perform certain unwanted actions on areas which shouldn't be changed in the first place! Once such place are the files under `node_modules` which should be ignored.

So, identify other such files or directories which shoul

[2022-02-08 15:36] Jarmos-san opened #75 "[FEATURE REQUEST]: Simplify `tsconfig.json` to make room for incremental changes when necessary"
### Feature details?

The current state of the `tsconfig.json` is too "_strict_" & it should be "_toned down_" to make room for future increments. On top of it, simplifying the config file will also get rid of errors caused by experimental features like #73.

That said, Next.js already provides a standard default config file with the following contents:

[code]
The standard configurations should b

[2022-02-08 15:39] Jarmos-san commented on #73
@PushpenderSaini0 can you take a look at #75 & share a PR referencing it instead? Once you prepare the PR, I'll close this issue in favour of that issue thread.

[2022-02-08 17:23] #74 closed

[2022-02-08 18:24] afkcodes commented on #75
Also, add path aliases. whoever is working on it.

[2022-02-08 18:40] Jarmos-san commented on #75
For those who're wondering how to add path aliases:

[code]

[2022-02-08 18:45] Jarmos-san commented on #73
Closing it in favour of #75 & labelled it as a `duplicate`.

[2022-02-08 18:45] #73 closed

[2022-02-09 05:31] vigneshwar221B commented on #75
How about also adding some strict type checking options?

[code]

[2022-02-09 05:41] vigneshwar221B commented on #75
Can you explain more on how the project structure is gonna be? Right now, I guess we can add one path alias for static media files and 1 path alias for a generic component folder. I don't know what else can we add?

[code]

[2022-02-09 05:50] vigneshwar221B commented on #75
As, we are still discussing on whether to add the experimental options or not, I commented it out for now. Does this look good?

[code]

[2022-02-09 08:44] Jarmos-san commented on #75
@vigneshwar221B cool looks good, would you like to work on a PR with the changes? But could you hold up for just a bit? I would like discuss something about support for experimental features & path aliases. Also do take a look at #80 which will refactor the current `tsconfig.json` to tone down on the strictness.

[2022-02-09 09:13] vigneshwar221B commented on #75
Sure, get back to me when you finalise your decision on experimental features and path aliases. I'll make a PR.

[2022-02-09 11:02] Jarmos-san opened #81 "Develop a `ROADMAP.md` for the project"
### Feature details?

The project requires a public roadmap for better collaboration efforts. Having one such publicly facing documentation will help reduce redundant questions like the ones below from interested contributors:

1. _"Can I implement so & so feature to the website?!"_
2. _"What's the plan? I can help, what should I contribute to?"_
3. _"I've an amazing which is to add blah blah feat

[2022-02-10 09:21] Jarmos-san commented on #75
@vigneshwar221B you can go ahead & share the PR with the changes you want to make on the current `tsconfig.json` file. Do note, some of the configurations have already been added in #80.

As for experimental support, let's hold on to them for now & we can add them when absolutely necessary later on.

[2022-02-10 09:28] Jarmos-san opened #83 "[FEATURE REQUEST]: Write clause about adding yourself as a contributor to the contribution guidelines"
### Feature details?

It's difficult to keep track of all contributors who shares a PR or two, hence it would be best to let the contributors know about using the [All Contributors bot](https://allcontributors.org). As such, if there's ever a case where the maintainers forgets to add a contributor to [this list](https://github.com/developersIndia/website#contributors-), then that contributor shoul

[2022-02-10 09:29] Jarmos-san commented on #51
Closing it in favour of #83 to reduce clutter & spam.

[2022-02-10 09:29] #51 closed

[2022-02-10 18:36] #75 closed

[2022-02-11 11:12] Jarmos-san commented on #51
@all-contributors please add @siddhantk232 for review, doc

[2022-02-11 11:12] Jarmos-san commented on #51
@all-contributors please add @afkcodes for review

[2022-02-11 11:16] Jarmos-san opened #90 "[FEATURE REQUEST]: Create a mobile-friendly template for the website"
### Feature details?

Thanks to the generous contributions of the two selfless contributors, we had a template to base the design of the website to work on! Unfortunately, due to lack of time, they couldn't design the mobile-friendly version of the template. As such, if you guys have design skills, please reach out to us or comment down below on how you would like to proceed.

For reference, pleas

[2022-02-11 11:30] Bhupesh-V commented on #81
Testing webook, this shit works?

[2022-02-11 18:25] Jarmos-san commented on #90
@afkcodes would you like to design the mobile-friendly version of the website? Or do have some other ideas in mind, do let me know?

[2022-02-11 18:30] afkcodes commented on #90
I really have no sense of design, to be honest, and don't want to ruin the mobile experience. we need someone who can take the desktop website make it look good on mobile as well. what happened to the folks who designed the desktop version of it.

[2022-02-11 18:42] Jarmos-san commented on #90
Yup, same here lol designing isn't my cup of tea either! @OmkarK45 & one his friend designed the OG template shared above but it appears he got busy with his internship (**he's the only software dev in his company right now** :grimacing: )

[2022-02-11 19:14] afkcodes commented on #90
yeah,  let's focus on the desktop first and whatever we can we will try to make it responsive and see how things pan out.

[2022-02-13 15:23] #83 closed

[2022-02-14 06:30] #81 closed

[2022-02-18 11:21] Jarmos-san opened #103 "Draft a standard structuring convention for the React Components"
### Feature details?

### Concerns Over Current Dev Practice

Since the project relies on Next.js, the concern about structuring files & directories for the project are pretty much covered as well! But Next.js doesn't provide any guidance on how to structure the many components a web app can have in it's lifetime. Yes, it's possible to dump all components under the `src/components` directory & cal

[2022-02-18 11:46] Jarmos-san opened #104 "Some quick housekeeping stuff that needs to be taken care of immediately"
### Feature details?

## Overview

The project at it's current state is simple enough & hence is maintainable without any issues. But as the project grows certain issues that have slid without notice might create problems for later. For e.g; long running CI/CD pipelines, the same pipelines running out of build minutes quota & so on.

### To-Do Tasks

Hence, this issue thread will track a couple of

[2022-02-18 11:48] Jarmos-san opened #105 "Modify present GitHub Actions workflow to deploy to Netlify"
## What's the Issue?

The current GitHub Action does nothing more than run ESLint & Prettier to check for common coding styles. As such, it simply standardizes those differences within a CI environment. As for the CD part, that's taken care off of by the Netlify which results in some redundancy.

Netlify's free tier also provides measly 300 build minutes per month which isn't enough for an opensou

[2022-02-18 11:48] Jarmos-san opened #106 "Optimise CI/CD pipeline by caching downloading dependencies properly"
## What's the Concern

The current CI/CD pipeline is inefficient & takes quite a while to complete it's tasks. Right now there's not much for the pipeline to do yet it takes a good min or two to simply perform code quality checks.

The main cause of this delay is the dependencies aren't cached & they are downloaded fresh for each run.

## Possible Solutions to the Concern

Cache the dependencies p

[2022-02-18 11:48] Jarmos-san opened #107 "Perform "health checks" on the project URLs to see there're no broken hyperlinks"
## What's the Concern

Quite often URLs are either taken down or break down for whatever reasons. And web pages referring to those URLs are totally unaware of the issue until some good Samaritan out there reports it. But embarrassingly enough, these broken hyperlinks stay in the document without ever being reported most of the time.

As such, there should be scheduled URL health checks to identify

[2022-02-18 11:48] Jarmos-san opened #108 "Enable `fail-fast` to immediately fail the status checks on linter & formatting errors"
## What's the Concern

The current CI environment runs good but not well enough. It doesn't fail on lint & formatting issues which means prospective contributors can sneakily pass through non-standard coding practices. While each PR are reviewed thoroughly but an automated process is necessary to be efficient.

Hence, the current workflow configurations available at [`.github/workflows/main.yml`](

[2022-02-18 11:48] Jarmos-san opened #109 "Setup tests for the project"
## What's the Concern

The project doesn't have a single test written or configured yet! At it's current state the project is manageable & new features can be added without worrying about introducing some breaking changes. But once the project grows big enough, tests would be an absolute necessity by then.

So, it's good to get started writing & configuring the project with tests as quick as possi

[2022-02-19 18:09] Jarmos-san opened #110 "[FEATURE REQUEST]: Add CommitLint to standardize Git Commit message styling"
### Feature details?

## What's the Concern

Interested contributors doesn't pay much heed to the commit messages at the moment. The messages doesn't describe what the issue was, what was done to resolve the issue (_& perhaps an optional reference to the issue number_). Having some set of tools and/or documentation in place will mean prospective contributors are obligated to pay attention to the c

[2022-02-19 18:46] afkcodes commented on #105
is the website going to be deployed on netlify ? if so then lets go with vercel

[2022-02-19 18:55] Jarmos-san commented on #105
The site was deployed on Vercel initially (check the deployment [environments](https://github.com/developersIndia/website/deployments)) but inviting other users to a team requires a premium fee which is like $40 per month (need further clarification about the quotation). At this we obviously can't afford that price so we went ahead with Netlify instead.

Between the two I personally prefer the for

[2022-02-20 03:30] afkcodes commented on #105
no, i think we can do it without that I have been doing with my organization, let's discuss this.

[2022-02-20 09:21] Jarmos-san commented on #105
Yes, Vercel does come with added benefits as well which is why I've been moving away from Netlify recently as well.

cc @Bhupesh-V could explain what issues did you face setting up the Vercel org & why we need Netlify instead?

[2022-02-20 09:24] Jarmos-san commented on #105
Also @afkcodes we'll be integrating the whole CI/CD pipeline into GitHub Actions eventually, so I really doubt if it matters whether we're using Netlify or Vercel.

[2022-02-22 12:10] SFM61319 opened #113 "[BUG] [DOCUMENTATION]: Missing cloning methods in readme's installation steps"
### What happened?

Missing (HTTPS) cloning method in [README.md's installation steps](https://github.com/developersIndia/website/blob/master/README.md#-installation "README"). Also need additional SSH docs and setup info for users with no SSH.

### What browsers are you seeing the problem on?

Firefox, Chrome, Safari, Microsoft Edge

### Relevant log output

_No response_

### Code of Conduct

-

[2022-02-22 13:13] #113 closed

[2022-02-23 10:56] Jarmos-san opened #115 "Launch a Minimal Landing Page"
test more

[2022-02-23 10:57] Jarmos-san commented on #115
Closing it since it was created by accident.

[2022-02-23 10:57] #115 closed

[2022-02-23 11:45] Jarmos-san opened #116 "Launch a minimal landing page for the community"

[2022-02-23 11:46] Jarmos-san commented on #116
Closing because it was created by mistake, see #20 instead.

[2022-02-23 11:46] #116 closed

[2022-02-23 13:22] SFM61319 opened #118 "[FEATURE REQUEST]: Add [Light/Dark/System Default] Theme support to the entire site from the beginning itself"
### Feature details?

As the title suggests, it would be easier and better to implement Light/Dark[/System Default] theme in the beginning itself, since the site is very small and still in its initial phase right now.

##### Example
[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-23 13:34] Jarmos-san commented on #118
@afkcodes would appreciate your second opinion on this.

[2022-02-23 16:34] #110 closed

[2022-02-23 16:40] Jarmos-san commented on #118
Indeed, the priority is to create a landing page first & more importantly I think it's not that difficult of a task to implement dark mode using TailwindCSS variants. So, closing it this thread as a non-issue.

Also @SFM61319, you might want to keep a lookout for an thread where I break down the landing page template into multiple "achievable goals". Each of those goals will correspond to a specif

[2022-02-23 16:40] #118 closed

[2022-02-25 04:09] afkcodes commented on #20
@Jarmos-san @Bhupesh-V @Manav-SM Let's kickstart this.

[2022-02-25 05:00] Jarmos-san commented on #20
@afkcodes yes please! We were waiting for @varshney-himanshu to lead the development procedure but he has to take care of some urgent personal emergencies right now. It did cause us some delay but hopefully we can get started right away.

Any way, I assume you're the most experienced frontend dev so why don't you take the lead for the development process? And the rest of us will help you with main

[2022-02-25 05:07] #103 closed

[2022-02-25 05:57] Jarmos-san opened #121 "Project release & version management draft"
### Feature details?

## Overview

Every project requires a workflow for managing version & release management. This project is no exception to that fact either! There has been attempts to conceptualise what steps & procedures should be taken to setup a specific workflow for the project in #69. And the discussions made in that thread has been **VERY** productive as well.

Thanks to everyone who ch

[2022-02-25 06:00] Jarmos-san commented on #121
@Bhupesh-V @Manav-SM @yashsharan0805 I drafted a release cadence so let me know what your thoughts on it are. With your feedback I'll be update the contributing guidelines accordingly.

@afkcodes could you start developing the landing page asynchronously? I'll update the docs & will provide you a helping hand as soon I'm done with those stuff.

[2022-02-25 06:07] NiketanG commented on #105
I've managed to set up an action using the netlify-cli for the build and deploy.
The GitHub actions available mentioned above, and even netlify's own, fail to build the project with necessary plugins (nextjs-plugin-netlify).
Using the cli is better in my opinion as we could swap it out later when changing the provider without much hassle.
However I need to figure out the caching of the global netl

[2022-02-25 06:23] Jarmos-san commented on #105
@NiketanG could you share a lil snippet of what your code looks like?

[2022-02-25 07:03] NiketanG commented on #105
[code]

[2022-02-25 07:27] Jarmos-san commented on #105
@NiketanG looks quite promising, although the implementation requires a slight bit more polishing. So, here are a few prerequisites we need to take care of before we can confidently merge the code you shared;

1. I think it makes more sense to add `netlify-cli` as a dev-dependency. That way we can benefit from fast CI/CD pipelines due to cached dependencies. See #106
2. Adding `netlify-cli` as a d

[2022-02-25 08:23] Jarmos-san opened #122 "Add file-based Netlify configurations to the project"
### Feature details?

Netlify deployments can be configured through a file aptly named `netlify.toml`. More information on it is available at: https://docs.netlify.com/configure-builds/file-based-configuration/

Adding this configuration will mean more smooth sailing of other issues like #

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-25 12:23] afkcodes commented on #20
okay, then I will plan this tomorrow.

[2022-02-25 15:00] afkcodes commented on #105
i would still suggest looking at vercel once again

[2022-02-28 06:40] NiketanG opened #126 "[BUG]: Builds fail on CI/CD"
### What happened?

Tailwindcss was removed in favor of NextUI, [commit](https://github.com/developersIndia/website/commit/2e724c904908c689d58405a79f05536c079ffea7).

However, the imports are still present in [styles/globals.css](https://github.com/developersIndia/website/blob/master/src/styles/globals.css).
[code]

Along with that, `postcss` and its [config](https://github.com/developersIndia/web

[2022-02-28 06:48] Jarmos-san commented on #126
Hi @NiketanG thanks for reporting the issue! Yes, we're in the middle of removing TailwindCSS in favour of NextUI (see #124). Moving forward we'll definitely be using NextUI for styling the website (I'm tired of changing the tech stack repeatedly & adding unnecessary complexity to the project).

So, if you would like please feel free to share a PR cleaning up any traces of TailwindCSS in the proje

[2022-03-01 16:20] #126 closed

[2022-03-05 17:14] #121 closed

[2022-03-05 17:38] Jarmos-san opened #133 "Breaking down the "landing page" Figma template into smaller components for easier asynchronous collaborations"
### Feature details?

## Overview

Successor to #20 this TODO thread will keep track of each individual components of the website that should be developed asynchronously. Completing each individual tasks in this thread will mean we can close & lock it's successor thread with confidence.

The final iteration of the website will more or so look somewhat like the following image (**see individual iss

[2022-03-05 17:38] Jarmos-san opened #134 "Issue tracker for the Hero section of the landing page"
This thread tracks the progress, feature enhancements & bug reports for the Hero section of the landing page. For an overview of what the final landing page is supposed to look like, take a look at #133.

That said, contrary to what's shared on the linked issue thread above, here's what the hero section of the final landing page should look like;

![AlternativeHomePage](https://user-images.githubu

[2022-03-05 17:38] Jarmos-san opened #135 "Issue tracker for the Info section of the landing page"
This thread tracks the development, enhancement, bug reports of the info section of the final iteration of the landing page. For an overall description of what the final iteration of the landing page is supposed to look like, check out #133.

But this thread will be used to keep a track of individual developments on the **Info section** of the landing page. If you're not sure what does the Info se

[2022-03-05 17:38] Jarmos-san opened #136 "Issue tracker for the Footer section of the landing page"
This thread tracks the enhancements, development & bug reports related to the CTA & Footer section of the landing page. Here's what they look like:

For more context on the overall project & what the landing page should look like, check out #133

The CTA:

![CTA](https://user-images.githubusercontent.com/31373860/156895348-118568ac-7b27-45d9-8863-b831fc5f1cb0.png)

The Footer:

![Footer](https://u

[2022-03-14 17:27] Jarmos-san opened #138 "Issue tracker for customising the theme of the website"
### Feature details?

## Overview of the Thread

This thread will track the progress of customising the theme of the website. Use the comment section of this thread to:

1. Keep a track on the development of the colour palette(s).
2. To-Do tasks which are specifically related to the theme & it's customisation.
3. Discuss possible bugs, feature enhancements & such (_if related to the theme in any w

[2022-03-14 17:27] Jarmos-san opened #139 "Share & document a colour palette to be used across the project"
## What's the Concern?

At it's current stage the project doesn't have a specific colour palette, interested contributors should refer to when customising the theme. Having a colour palette & one which is well documented will ensure all contributors adhere to a standard set of colours. And following such a standard will also ensure the branding of the website isn't cluttered & messed around with.

[2022-03-15 16:38] Jarmos-san opened #140 "[BUG]: `next lint` doesn't work with staged files"
## What's the Concern

When running the pre-commit hooks on staged files, `next run` fails stating it can't find the `pages` directory (even though it exits). Screenshots attached for further context:

![image](https://user-images.githubusercontent.com/31373860/158426869-f4d5e1dc-9e42-47cf-a003-1cac3807355c.png)
![image](https://user-images.githubusercontent.com/31373860/158426909-ba56d53f-08a9-43

[2022-03-15 16:39] Jarmos-san commented on #140
cc @DevanshBajaj who identified the issue.

[2022-03-16 08:44] Jarmos-san commented on #140
So, I tried recreating this issue on my local machine & was unsuccessful. I attached a screenshot below for further reference.

![image](https://user-images.githubusercontent.com/31373860/158550213-6a90ca6e-cfa1-4acd-903c-57b52134a84d.png)

This issue requires further investigation & attention so if you're facing similar concerns please help us fix it soon. The [`issue-140`](https://github.com/dev

[2022-03-20 07:15] #105 closed

[2022-03-20 07:15] #122 closed

[2022-03-20 16:41] #139 closed

[2022-03-23 15:30] Jarmos-san opened #145 "[BUG]: `length` is declared here"
### What happened?

TypeScript complains about an issue like the screenshot below:

![image](https://user-images.githubusercontent.com/31373860/159735685-6cf50f24-63a2-46b8-9277-f9180b0f4c01.png)

It could be caused by an [upstream issue](https://github.com/modulz/stitches/issues/947).

cc: @DevanshBajaj

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No

[2022-03-23 15:33] DevanshBajaj commented on #145
Would like to mention this as a possible [fix](https://github.com/modulz/stitches/issues/947#issuecomment-1061809383)

[2022-03-25 17:46] suryarajendhran commented on #109
If no one has picked this up, you can assign me to this, I'm happy to write some cypress tests to get started. And as for suggestions about how it's done. Here's a breakdown of how different types of tests can be employed:

1. **Unit testing:** Can be used on the backend and on frontend helpers. But for now, unless we start to have a complex backend, we should be fine without this for the moment.

[2022-03-25 18:01] Jarmos-san commented on #109
Hi @suryarajendhran thanks for taking the initiative but currently we don't have the resources to write & maintain test suites yet (hence it's left under the "[next](https://github.com/developersIndia/website/milestone/2)" milestone for now). The immediate & top most priority right now is to get a bare minimum static site deployed & have a robust CI/CD pipeline in place for the near future.

About

[2022-03-25 18:18] suryarajendhran commented on #109
Alright then let me know if you need a hand with anything.

[2022-03-25 19:24] Jarmos-san commented on #134
Hi @uragirii thanks for taking the initiative but @DevanshBajaj is already working on it. But you're free to pick up the Info section (see #136) or the Footer section (see #135).

Also I strongly suggest to get on call with me & Devansh because the we're still in the process of polishing out the design aesthetics of the website. Ping me on Discord (`Jarmos#8937`) & we can set up a call tomorrow to

[2022-03-25 19:30] uragirii commented on #135
Hi, I wanted to claim this task 👋🏼. Let's have a call and catch up on design 🎨

[2022-03-25 19:30] uragirii commented on #136
Hi, I wanted to claim this task 👋🏼. Let's have a call and catch up on design 🎨

[2022-03-26 13:19] Jarmos-san commented on #134
A majority of the [community feedback](https://github.com/developersIndia/website/discussions/143) has been in favor of the following version of the header section:

![image](https://user-images.githubusercontent.com/31373860/160241304-e77e221c-faf4-4cb8-b3d7-6c1136f1d24a.png)

cc @DevanshBajaj (please comment down below so that I can assign it to you)

[2022-03-27 19:47] Jarmos-san opened #149 "[BUG]: Fix & make the current CI/CD pipeline more robust"
### What happened?

Currently the CI/CD pipeline isn't only inefficient but it doesn't work as expected either. Following are the intended behaviour but for whatever reason it doesn't work:

- Deploy to Netlify using GitHub Actions (causes an authentication issue even the auth tokens exists)
- Make a comment on the PR with a preview URL

The expected behaviour is basically to deploy the static con

[2022-03-27 19:50] Jarmos-san commented on #149
Here's an official blog from GitHub which might share a clue towards fixing this issue; [GitHub Actions improvements for fork and pull request workflows](https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows)

[2022-04-01 15:14] rohantejeswar commented on #140
Doing a little research on it, [`next lint`](https://nextjs.org/docs/basic-features/eslint#linting-custom-directories-and-files) by default applies to `pages/`, `components/`, and `lib/`. To solve this issue, the solution would be to let `next lint` to ignore the `pages/` directory but no eslint rules are working while husky's pre-commit hook is running.

This issue can be verified if you add an e

[2022-04-05 04:57] rohantejeswar commented on #140
The above diagnosis could be a reason for the issue in #108

[2022-04-05 06:36] Jarmos-san commented on #140
@rohantejeswar makes sense! The CI/CD pipeline as it stands right now is broken af. I moved #108 to the "next" milestone for now because the priority right now is to get the pipeline's deployment feature working as expected.

And as usual, contributions are welcome so please feel free to take a look at it (or reach out to me on Discord for more info).

[2022-04-05 07:21] rohantejeswar commented on #136
@uragirii have you picked up this task? If not I can claim and work on this

[2022-04-05 07:21] rohantejeswar commented on #135
@uragirii have you picked up this task? If not I can claim and work on this

[2022-04-05 16:44] uragirii commented on #136
Yes, @rohantejeswar i have already picked these tasks. Although currently it’s paused until we fix pipeline problems

[2022-04-05 16:45] uragirii commented on #135
@rohantejeswar yes this one is also picked by me

[2022-04-05 17:04] Jarmos-san commented on #136
Hey y'all thanks for taking the initiative to contribute to the project! I simply wanted to let you all know, I'm working on fixing the CI/CD pipeline fixed! I've read the docs thoroughly & I believe I "kinda" know what's wrong with it. I'll still have to wait for Sunday because that's when Bhupesh is generally available & I need admin access to the org's settings as well.

Till then you guys can

[2022-04-05 17:07] Jarmos-san commented on #135
@uragirii let @rohantejeswar work on it? Since you already took the responsibility of developing the Footer section?

Besides, a little heads for y'all, the CI/CD pipeline is broken (see #150's comment section for more info) & once it's resolved we'll be accepting PRs once again.

[2022-04-06 05:51] uragirii commented on #135
Yeah sure, he can take this task. Welcome to the repo. Happy contributing🙌

[2022-04-16 19:16] anubhav823 commented on #108
Hi. I would like to contribute to this

[2022-04-16 19:21] Jarmos-san commented on #108
@anubhav823 sure! Please share a proposal of a possible fix before you send a PR with us.

[2022-04-16 20:24] #149 closed

[2022-04-16 20:48] #145 closed

[2022-04-16 20:52] Jarmos-san commented on #145
@DevanshBajaj can you confirm the issue is fixed now?

P.S: You might've to reclone the project & start afresh to check if the issue persists. For more context, I added a workspace configuration for VSCode to specifically use TypeScript v4.5.5! So, VSCode users won't have to face this issue ever again (hopefully). And they don't even have to resort to some manual hacks later on either.

[2022-04-17 08:17] Jarmos-san opened #155 "[BLOCKER]: Broken CI/CD Pipeline"
## What's the Issue

At the time of writing this thread, I've been attempting to battle this issue with our broken CI/CD pipeline's workflow. And so far it's been pretty much an uphill battle with GitHub's obscure documentations & unhelpful responses from GitHub's support team.

Regardless, here's what our ideal workflow would look like:

1. Interested contributed share their PRs which should trig

[2022-04-18 05:03] anubhav823 commented on #108
@Jarmos-san I was wondering if instead of failing the job for formatting issues, will it be better if we automate the formatting process?

[2022-04-18 05:25] anubhav823 commented on #108
@Jarmos-san I was thinking adding strategy: fail-fast: true to the job runCodeQualityChecks. Will that be okay?

[2022-04-18 06:35] Jarmos-san commented on #108
@anubhav823 well in an ideal scenario that's the easiest way to go but check out #155 (the CI/CD pipeline is a stupid mess right now). I would like to focus more attention on that first because going forward it's probably going to need a major refactor.

[2022-04-18 16:48] anubhav823 commented on #108
@Jarmos-san should I give #155  a go? I am not familiar with this but I want to learn.

[2022-04-18 17:09] Jarmos-san commented on #108
@anubhav823 sure! Please don't hesitate to reach out to me or @Bhupesh-V over Discord in case you figured out a way or two!

[2022-04-24 08:59] HarshCasper commented on #155
Hi @Jarmos-san 👋

I have raised a PR to fix this issue for you :)

The PR preview workflows will now stick with GitHub Actions and use Surge instead of Netlify. You will need to configure a `SURGE_TOKEN` using the Surge CLI and add it as a GitHub secret with the name `SURGE_TOKEN`. The workflow has been used with various popular projects, like LocalStack and Devfiles and will hopefully work here a

[2022-06-13 17:16] #90 closed

[2022-06-25 17:30] #20 closed

[2022-07-02 14:21] Sashankr commented on #135
@Jarmos-san  Can I work on this task , I saw there is no activity on this issue for a while now.
I would like to get started with Features section :

Create a component called InfoWithCTA , for generating Knowledge Transfer , Potential Job Opportunities , Personal Growth through meetups and startups sub sections.

[2022-07-03 09:13] Jarmos-san commented on #135
@Sashankr thanks for taking the initiative but as you can see development on it has stalled temporarily because the mods are busy with job change & all (too many layoffs these days :disappointed:).

Regardless, please subscribe to the thread so that you can be notified of when we restart work on the project.

[2022-07-03 13:11] Sashankr commented on #135
Sorry to hear that! Wishing the mods , all the best for their interviews!

[2022-07-03 20:41] #133 closed

[2022-07-18 18:01] #138 closed

[2022-07-18 18:01] #104 closed

[2022-07-23 18:59] #109 closed

[2022-07-24 17:57] #134 closed

[2022-08-03 11:29] #140 closed

[2022-08-03 21:47] #136 closed

[2022-08-16 21:36] #108 closed

[2022-08-26 10:57] #107 closed

[2022-08-26 10:57] #106 closed

[2022-08-26 10:57] #135 closed

[2022-08-26 10:57] #155 closed

[2022-08-27 14:44] Jarmos-san opened #159 "Create a custom 404 page"
### Describe the nature & the intricate details of the enhancement of your suggestions.

Currently the project doesn't have a custom 404 page & it serves the default one created by Next.js. While it works but having a custom 404 page will improve the brand value of the website & the community in general.

### Are you willing to take the initiative to implement & contribute a PR of the said feature

[2022-08-27 14:46] Jarmos-san commented on #159
I'm assigning this task to @bhupeshpr25 since he agreed to take it up.

[2022-08-27 14:49] bhupeshpr25 commented on #159
thanks, I will take it up 👍

[2022-08-27 18:41] Jarmos-san opened #160 "Create a custom icon for the featured text in the "Our Mission" section"
### Describe the nature & the intricate details of the enhancement of your suggestions.

Create a custom icon for the featured text in the "Our Mission" section of the website. Following is one such example:

![Featured icon](https://user-images.githubusercontent.com/31373860/187043824-8bd6ad8c-a353-40f0-afb7-271b979b788d.png)

More are available in the [Figma template](https://www.figma.com/file/

[2022-08-29 12:01] Jarmos-san opened #162 "Create OpenGraph & Twitter Cards for better interactivity across various platforms"
### Describe the nature & the intricate details of the enhancement of your suggestions.

The website as of now doesn't support proper interactivity across various social media platforms like Twitter and/or Facebook. This can be achieved by enabling the suggested [OpenGraph](https://ogp.me) & [Twitter Cards](https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/abouts-cards) `me

[2022-08-30 07:11] #159 closed